<tei2html.config>
    <defaultStylesheet>style/arctic.css</defaultStylesheet>     <!-- Stylesheet to include. -->
    <inlineStylesheet>true</inlineStylesheet>                   <!-- use an inline (embedded in HTML) stylesheet; ignored for ePub. -->
    <numberTocEntries>true</numberTocEntries>                   <!-- Provide numbers with TOC entries. -->
    <showParagraphNumbers>false</showParagraphNumbers>          <!-- Output paragraph numbers, using the value of the @n attribute. -->
    <includePGHeaders>false</includePGHeaders>                  <!-- Include Project Gutenberg headers and footers. -->
    <includeImages>true</includeImages>                         <!-- Include images in the generated output. -->
    <defaultTocEntries>false</defaultTocEntries>                <!-- Use generic heads in entries in the TOC, if no head is present -->
    <generateFacsimile>false</generateFacsimile>                <!-- Output section with and links to facsimile images if required information is present. -->
    <facsimilePath>page-images</facsimilePath>                  <!-- Path where page images for a facsimile edition is present. -->
    <useRegularizedUnits>false</useRegularizedUnits>            <!-- Use the regularized units specified in the measure-tag. (false: both are shown, the original in the text, the regularized units in a 
                                                                     pop-up; true: regularized in text, original in pop-up) -->
    <outputExternalLinks>always</outputExternalLinks>           <!-- Generate external links, possible values: always | never | colophon -->
    <outputExternalLinksTable>false</outputExternalLinksTable>  <!-- Place external links in a separate table in the colophon. -->
    <useHangingPunctuation>false</useHangingPunctuation>        <!-- Use hanging punctuation (by generating the relevant CSS classes). -->

    <ditto.enable>true</ditto.enable>                           <!-- Use ditto marks in ditto or seg[@copyOf] elements. -->
    <ditto.mark>,,</ditto.mark>                                 <!-- The symbol to use as a ditto mark. May also be overridden by rend attribute ditto-mark() -->
    <ditto.repeat>word</ditto.repeat>                           <!-- How often to use a ditto mark, possible values: word | segment. -->

    <math.mathJax.enable>true</math.mathJax.enable>

    <!-- Output format specific settings: these override the general settings defined above for a specific output format. Supported formats: "html" and "epub". -->
    <output format="html">
        <useMouseOverPopups>true</useMouseOverPopups>           <!-- Use mouse-over pop-ups on various items (links, etc) -->
    </output>
    <output format="epub">
        <useMouseOverPopups>false</useMouseOverPopups>
        <outputExternalLinks>always</outputExternalLinks>
        <outputExternalLinksTable>true</outputExternalLinksTable>
    </output>
</tei2html.config>