align-paragraphs-output.html
align-paragraphs-output-orig.xml
attick/
doc/
dtd/
Sample ePubs/
tools/corpus tools/Nederlandsch Woordenlijst/
tools/lib/
tools/pubtext/
samples/Cole - Philippine Folk Tales/PhilippineFolkTales-pos.xml
i18n.xml
test.epub
test.fodt
test.odt
test.pdf
*.err
test-normalized.xml
test-odt.xml
test-old.html
test-p5.xml
test-prince.html
tmp.xhtml
tmp-odt.xhtml
ePub/audio/
ePub/images/
libraries/json2xml/
*.xsx
tools/corpus tools/test/
tools/corpus tools/out.features
common/
tei2odt.pl
tei2odt.xsl
audio/test.ogg
dictionaries/alt12dicts-4.zip
dictionaries/EOWL-v1.1.1.zip
dictionaries/scowl-7.1.zip
tools/dictionaries/dict-nl_1900.oxt/dict-nl_1900.oxt
tools/patc/transcriptions/arabic/arabic.gif
tools/patc/transcriptions/arabic/talk-lagally.pdf
tools/patc/transcriptions/arabic/tsukuba-arabic97.pdf
dictionaries/wordsEn.zip
tools/jpegoptim-1.2.3.tar.gz
tools/gifsicle_1.60_windows.zip
libraries/json2xml.zip
libraries/xmlverbatim.rar
issues/
documentation/TEI-Guidelines.epub
documentation/TEI-Guidelines.html
covers/reference250.jpg
covers/reference500.jpg
databases/queries.txt
documentation/TEI-PG-Guidelines-0.6.odt
images/audio.png
images/bracket-left.gif
images/document.png
images/mail.png
images/stock_book_yellow-16.png
images/stock_book-16.png
images/stock_volume-16.png
images/thumbs/cover500.jpg
attic/
test-kwic.html
.idea/
*.bak
tmp.xml
xsltdoc.log
tools/patc/transcriptions/arabic/Downloaded/arabic.gif
tools/patc/transcriptions/arabic/Downloaded/talk-lagally.pdf
tools/patc/transcriptions/arabic/Downloaded/tsukuba-arabic97.pdf
test/images/document.png
test/images/mail.png
test/images/stock_book-16.png
test/images/stock_book_yellow-16.png
test/images/stock_volume-16.png
test/htmlprofile.html
test/epubprofile.html
messages.po
messages.csv
messages-with-missing.xml
test/htmltrace.txt
test/epubtrace.txt
dependencies.txt
sandbox/
samples/testMath/formulas/
samples/testMath/README.md
samples/testMath/testMath.zip
samples/testMath/testMath.txt
samples/testMath/testMath.jeebies
samples/testMath/testMath.gutcheck
samples/testMath/testMath-words.html
samples/testMath/testMath-0.0-checks.html
messages.xlsx
messages-with-missing-de-translations.xml
samples/testMath/testMath.html
test/test-normalized-p5.xml
test/test-p5.html
tools/tei2xml.pl
