[project]
	description = XSLT stylesheets to convert TEI to HTML and ePub format.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jeroen Hellingman (jhellingman)
[access "refs/for/refs/*"]
	read = group user/Jeroen Hellingman (jhellingman)
	push = group user/Jeroen Hellingman (jhellingman)
	label-Code-Review = -2..+2 group user/Jeroen Hellingman (jhellingman)
	label-Verified = -1..+1 group user/Jeroen Hellingman (jhellingman)
	rebase = group user/Jeroen Hellingman (jhellingman)
	removeReviewer = group user/Jeroen Hellingman (jhellingman)
	submit = group user/Jeroen Hellingman (jhellingman)
[access "refs/heads/*"]
	read = group user/Jeroen Hellingman (jhellingman)
	create = group user/Jeroen Hellingman (jhellingman)
	push = +force group user/Jeroen Hellingman (jhellingman)
	pushMerge = group user/Jeroen Hellingman (jhellingman)
[access "refs/tags/*"]
	push = +force group user/Jeroen Hellingman (jhellingman)
	pushTag = group user/Jeroen Hellingman (jhellingman)
	pushSignedTag = group user/Jeroen Hellingman (jhellingman)
