
body {
    background: #FFFFFF;
    font-family: serif;
}

body, a.hidden {
    color: black;
}

.titlePage {
    color: #001FA4;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    color: #001FA4;
    font-family: sans-serif;
}

p.byline {
    font-style: italic;
    margin-bottom: 2em;
}

.figureHead, .noteRef, .pseudoNoteRef, .marginnote, .right-marginnote, .cut-in-note-left, .cut-in-note-right, p.legend, .verseNum, .stage {
    color: #001FA4;
}

.rightnote, .pageNum, .lineNum, .pageNum a {
    color: #AAAAAA;
}

a.hidden:hover, a.noteRef:hover, a.pseudoNoteRef:hover {
    color: red;
}

p.dropcap:first-letter {
    color: #001FA4;
    font-weight: bold;
}
