
body {
    background: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
}

body, a.hidden {
    color: black;
}

h1, .h1 {
    padding-bottom: 5em;
}

h1, h2, .h1, .h2 {
    text-align: center;
    font-variant: small-caps;
    font-weight: normal;
}

p.byline {
    text-align: center;
    font-style: italic;
    margin-bottom: 2em;
}

.figureHead, .noteRef, .pseudoNoteRef, .marginnote, .right-marginnote, p.legend, .verseNum {
    color: #660000;
}

.rightnote, .pageNum, .lineNum, .pageNum a {
    color: #AAAAAA;
}

a.hidden:hover, a.noteRef:hover, a.pseudoNoteRef:hover {
    color: red;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.tablecaption {
    text-align: center;
}

/* Script codes, see ISO-15924 */

.arab { font-family: Scheherazade, serif; }

.aran { font-family: 'Awami Nastaliq', serif; }

.grek { font-family: 'Charis SIL', serif; }

.hebr { font-family: Shlomo, 'Ezra SIL', serif; }

.syrc { font-family: 'Serto Jerusalem', serif; }

