
/* color scheme 

http://paletton.com/#uid=72O1i0kp+uDfZMYljBdt9o2vWg0

tables / lists -- greens : #7BEA75 #4FD848 #2DC625 #159B0E #056700
poetry / drama -- blues  : #867EDD #5C52C0 #3D33AA #261C85 #130C59
figures -- reds          : #FE7F82 #FD5559 #F22D33 #BE1115 #7E0003
divisions -- yellows     : #FFE280 #FFD955 #F4C82E #C09811 #806300

*/


/* Show borders of tables and lists */

table {
    border: 2px dotted #2DC625;
    background-color: #7BEA75;
}

td {
    border: 1px dotted #159B0E;
}

th {
    border: 1px dotted #159B0E;
    background-color: #4FD848;
}

ol, ul {
    border: 2px dotted #056700;
    background-color: #7BEA75;
}

li {
    border: 1px dotted #159B0E;
}

/* Show borders on divisions */




/* color scheme for error information */

.t2hdebug, .t2hinfo, .t2hwarning, .t2herror {
    padding: 4px 8px 4px 8px;
    font-family: "Segoe UI", "Calibri", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.t2hdebug {
    background-color: #ebecfb;
    color: #4e874a;
}

.t2hinfo {
    background-color: #ecfbeb;
    color: #4e874a;
}

.t2hwarning {
    background-color: #ffe082;
    color: #e67000;
}

.t2herror {
    background-color: #fc9a8d;
    color: #973433;
}
