
ul {
    list-style-type: none;
}

.splitListTable {
    margin-left: 0;
}

.splitListTable td {
    vertical-align: top;
}

.numberedItem {
    text-indent: -3em;
    margin-left: 3em;
}

.numberedItem .itemNumber {
    float: left;
    position: relative;
    left: -3.5em;
    width: 3em;
    display: inline-block;
    text-align: right;
}

.itemGroupTable {
    border-collapse: collapse;
    margin-left: 0;
}

.itemGroupTable td {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.itemGroupBrace {
    padding: 0 0.5em !important;
}
