 

body {
 font-family: "Times New Roman", Times, serif;
 font-size: 100%;
 line-height: 1.2em;
 text-align: left;
}

.div0 {
 padding-top: 5.6em;
}

.div1 {
 padding-top: 4.8em;
}

.div2 {
 padding-top: 3.6em;
}

.div3, .div4, .div5 {
 padding-top: 2.4em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
 clear: both;
 font-style: normal;
 text-transform: none;
}

h3, .h3 {
 font-size: 1.2em;
 line-height: 1.2em;
}

h3.label {
 font-size: 1em;
 line-height: 1.2em;
 margin-bottom: 0;
}

h4, .h4 {
 font-size: 1em;
 line-height: 1.2em;
}

.alignleft {
 text-align: left;
}

.alignright {
 text-align: right;
}

.alignblock {
 text-align: justify;
}

p.tb, hr.tb, .par.tb {
 margin-top: 1.6em;
 margin-bottom: 1.6em;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
}

p.argument, p.note, p.tocArgument, .par.argument, .par.note, .par.tocArgument
 {
 font-size: 0.9em;
 line-height: 1.2em;
 text-indent: 0;
}

p.argument, p.tocArgument, .par.argument, .par.tocArgument {
 margin: 1.58em 10%;
}

.opener, .address {
 margin-top: 1.6em;
 margin-bottom: 1.6em;
}

.addrline {
 margin-top: 0;
 margin-bottom: 0;
}

.dateline {
 margin-top: 1.6em;
 margin-bottom: 1.6em;
 text-align: right;
}

.salute {
 margin-top: 1.6em;
 margin-left: 3.58em;
 text-indent: -2em;
}

.signed {
 margin-top: 1.6em;
 margin-left: 3.58em;
 text-indent: -2em;
}

.epigraph {
 font-size: 0.9em;
 line-height: 1.2em;
 width: 60%;
 margin-left: auto;
}

.epigraph span.bibl {
 display: block;
 text-align: right;
}

.trailer {
 clear: both;
 padding-top: 2.4em;
 padding-bottom: 1.6em;
}

 

span.parnum {
 font-weight: bold;
}

 

.pagenum {
 display: inline;
 font-size: 70%;
 font-style: normal;
 margin: 0;
 padding: 0;
 position: absolute;
 right: 1%;
 text-align: right;
}

span.corr, span.gap {
 border-bottom: 1px dotted red;
}

span.abbr {
 border-bottom: 1px dotted gray;
}

span.measure {
 border-bottom: 1px dotted green;
}

 

.ex {
 letter-spacing: 0.2em;
}

.sc {
 font-variant: small-caps;
}

.uc {
 text-transform: uppercase;
}

.tt {
 font-family: monospace;
}

.underline {
 text-decoration: underline;
}

 

.overline, .overtilde {
 text-decoration: overline;
}

.rm {
 font-style: normal;
}

.red {
 color: red;
}

 

hr {
 clear: both;
 height: 1px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 1em;
 text-align: center;
 width: 45%;
}

.aligncenter {
 text-align: center;
}

h1, h2 {
 font-size: 1.44em;
 line-height: 1.5em;
}

h1.label, h2.label {
 font-size: 1.2em;
 line-height: 1.2em;
 margin-bottom: 0;
}

h5, h6 {
 font-size: 1em;
 font-style: italic;
 line-height: 1em;
}

p, .par {
 text-indent: 0;
}

p.firstlinecaps:first-line, .par.firstlinecaps:first-line {
 text-transform: uppercase;
}

.hangq {
 text-indent: -0.32em;
}

.hangqq {
 text-indent: -0.40em;
}

.hangqqq {
 text-indent: -0.71em;
}

p.dropcap:first-letter, .par.dropcap:first-letter {
 float: left;
 clear: left;
 margin: 0em 0.05em 0 0;
 padding: 0px;
 line-height: 0.8em;
 font-size: 420%;
 vertical-align: super;
}

p.quote, div.blockquote, div.argument, .par.quote {
 font-size: 0.9em;
 line-height: 1.2em;
 margin: 1.58em 5%;
}

.pagenum a, a.noteref:hover, a.hidden:hover, a.hidden {
 text-decoration: none;
}

ul {
 list-style-type: none;
}

.advertisment {
 background-color: #FFFEE0;
 border: black 1px dotted;
 color: #000;
 margin: 2em 5%;
 padding: 1em;
}

.itemGroupTable {
 border-collapse: collapse;
 margin-left: 0;
}

.itemGroupTable td {
 padding: 0;
 margin: 0;
 vertical-align: middle;
}

.itemGroupBrace {
 padding: 0 0.5em !important;
}

 

.footnotes .body, .footnotes .div1 {
 padding: 0;
}

 
.fnarrow {
 color: #AAAAAA;
 font-weight: bold;
 text-decoration: none;
}

a.noteref, a.pseudonoteref {
 font-size: 80%;
 text-decoration: none;
 vertical-align: 0.25em;
}

.displayfootnote {
 display: none;
}

div.footnotes {
 font-size: 80%;
 margin-top: 1em;
 padding: 0;
}

hr.fnsep {
 margin-left: 0;
 margin-right: 0;
 text-align: left;
 width: 25%;
}

p.footnote, .par.footnote {
 margin-bottom: 0.5em;
 margin-top: 0.5em;
}

p.footnote .label, .par.footnote .label {
 float: left;
 width: 2em;
 height: 12pt;
 display: block;
}

.marginnote {
 font-size: 0.8em;
 height: 0;
 left: 1%;
 line-height: 1.2em;
 position: absolute;
 text-indent: 0;
 width: 14%;
}

.apparatusnote {
 text-decoration: none;
}

 

span.tocPageNum, span.flushright {
 position: absolute;
 right: 16%;
 top: auto;
}

table.tocList {
 width: 100%;
 margin-left: auto;
 margin-right: auto;
 border-width: 0;
 border-collapse: collapse;
}

td.tocPageNum, td.tocDivNum {
 text-align: right;
 min-width: 10%;
 border-width: 0;
}

td.tocDivNum {
 padding-left: 0;
 padding-right: 0.5em;
}

td.tocPageNum {
 padding-left: 0.5em;
 padding-right: 0;
}

td.tocDivTitle {
 width: auto;
}

p.tocPart, .par.tocPart {
 margin: 1.58em 0%;
 font-variant: small-caps;
}

p.tocChapter, .par.tocChapter {
 margin: 1.58em 0%;
}

p.tocSection, .par.tocSection {
 margin: 0.7em 5%;
}

table.tocList td {
 vertical-align: top;
}

table.tocList td.tocPageNum {
 vertical-align: bottom;
}

 

table.inner {
 display: inline-table;
 border-collapse: collapse;
 width: 100%;
}

td.itemNum {
 text-align: right;
 min-width: 5%;
 padding-right: 0.8em;
}

td.innerContainer {
 padding: 0;
 margin: 0;
}


 

.index {
 font-size: 80%;
}

.indextoc {
 text-align: center;
}

 

.transcribernote {
 background-color: #DDE;
 border: black 1px dotted;
 color: #000;
 font-family: sans-serif;
 font-size: 80%;
 margin: 2em 5%;
 padding: 1em;
}

.correctiontable {
 width: 75%;
}

.width20 {
 width: 20%;
}

.width40 {
 width: 40%;
}

p.smallprint, li.smallprint, .par.smallprint {
 color: #666666;
 font-size: 80%;
}

  

.titlePage {
 border: #DDDDDD 2px solid;
 margin: 3em 0% 7em 0%;
 padding: 5em 10% 6em 10%;
 text-align: center;
}

.titlePage .docTitle {
 line-height: 3.5em;
 margin: 2em 0% 2em 0%;
 font-weight: bold;
}

.titlePage .docTitle .mainTitle {
 font-size: 1.8em;
}

.titlePage .docTitle .subTitle, .titlePage .docTitle .seriesTitle,
 .titlePage .docTitle .volumeTitle {
 font-size: 1.44em;
}

.titlePage .byline {
 margin: 2em 0% 2em 0%;
 font-size: 1.2em;
 line-height: 1.72em;
}

.titlePage .byline .docAuthor {
 font-size: 1.2em;
 font-weight: bold;
}

.titlePage .figure {
 margin: 2em 0% 2em 0%;
 margin-left: auto;
 margin-right: auto;
}

.titlePage .docImprint {
 margin: 4em 0% 0em 0%;
 font-size: 1.2em;
 line-height: 1.72em;
}

.titlePage .docImprint .docDate {
 font-size: 1.2em;
 font-weight: bold;
}

  

div.figure {
 text-align: center;
}

.figure {
 margin-left: auto;
 margin-right: auto;
}

.floatLeft {
 float: left;
 margin: 10px 10px 10px 0;
}

.floatRight {
 float: right;
 margin: 10px 0 10px 10px;
}

p.figureHead, .par.figureHead {
 font-size: 100%;
 text-align: center;
}

.figAnnotation {
 font-size: 80%;
 position: relative;
 margin: 0 auto; 
}

.figTopLeft, .figBottomLeft {
 float: left;
}

.figTop, .figBottom {
 
}

.figTopRight, .figBottomRight {
 float: right;
}

.figure p, .figure .par {
 font-size: 80%;
 margin-top: 0;
 text-align: center;
}

img {
 border-width: 0;
}

td.galleryFigure {
 text-align: center;
 vertical-align: middle;
}

td.galleryCaption {
 text-align: center;
 vertical-align: top;
}

  

tr, td, th {
 vertical-align: top;
}

td.bottom {
 vertical-align: bottom;
}

td.label, tr.label td {
 font-weight: bold;
}

td.unit, tr.unit td {
 font-style: italic;
}

span.sum {
 padding-top: 2px;
 border-top: solid black 1px;
}

 

 

table.borderOutside {
 border-collapse: collapse;
}

table.borderOutside td {
 padding-left: 4px;
 padding-right: 4px;
}

table.borderOutside .cellHeadTop, table.borderOutside .cellTop {
 border-top: 2px solid black;
}

table.borderOutside .cellHeadBottom {
 border-bottom: 1px solid black;
}

table.borderOutside .cellBottom {
 border-bottom: 2px solid black;
}

table.borderOutside .cellLeft, table.borderOutside .cellHeadLeft {
 border-left: 2px solid black;
}

table.borderOutside .cellRight, table.borderOutside .cellHeadRight {
 border-right: 2px solid black;
}

 

table.verticalBorderInside {
 border-collapse: collapse;
}

table.verticalBorderInside td {
 padding-left: 4px;
 padding-right: 4px;
 border-left: 1px solid black;
}

table.verticalBorderInside .cellHeadTop, table.verticalBorderInside .cellTop {
 border-top: 2px solid black;
}

table.verticalBorderInside .cellHeadBottom {
 border-bottom: 1px solid black;
}

table.verticalBorderInside .cellBottom {
 border-bottom: 2px solid black;
}

table.verticalBorderInside .cellLeft, table.verticalBorderInside .cellHeadLeft {
 border-left: 0px solid black;
}

 

table.borderAll {
 border-collapse: collapse;
}

table.borderAll td {
 padding-left: 4px;
 padding-right: 4px;
 border: 1px solid black;
}

table.borderAll .cellHeadTop, table.borderAll .cellTop {
 border-top: 2px solid black;
}

table.borderAll .cellHeadBottom {
 border-bottom: 1px solid black;
}

table.borderAll .cellBottom {
 border-bottom: 2px solid black;
}

table.borderAll .cellLeft, table.borderAll .cellHeadLeft {
 border-left: 2px solid black;
}

table.borderAll .cellRight, table.borderAll .cellHeadRight {
 border-right: 2px solid black;
}

 

tr.borderTop td, tr.borderTop th, th.borderTop, td.borderTop {
 border-top: 1px solid black !important;
}

tr.borderRight td, tr.borderRight th, th.borderRight, td.borderRight {
 border-right: 1px solid black !important;
}

tr.borderLeft td, tr.borderLeft th, th.borderLeft, td.borderLeft {
 border-left: 1px solid black !important;
}

tr.borderBottom td, tr.borderBottom th, th.borderBottom, td.borderBottom {
 border-bottom: 1px solid black !important;
}

tr.borderHorizontal td, tr.borderHorizontal th, th.borderHorizontal, td.borderHorizontal {
 border-top: 1px solid black !important;
 border-bottom: 1px solid black !important;
}

tr.borderVertical td, tr.borderVertical th, th.borderVertical, td.borderVertical {
 border-right: 1px solid black !important;
 border-left: 1px solid black !important;
}

tr.borderAll td, tr.borderAll th, th.borderAll, td.borderAll {
 border: 1px solid black !important;
}

 

tr.noBorderTop td, tr.noBorderTop th, th.noBorderTop, td.noBorderTop {
 border-top: none !important;
}

tr.noBorderRight td, tr.noBorderRight th, th.noBorderRight, td.noBorderRight {
 border-right: none !important;
}

tr.noBorderLeft td, tr.noBorderLeft th, th.noBorderLeft, td.noBorderLeft {
 border-left: none !important;
}

tr.noBorderBottom td, tr.noBorderBottom th, th.noBorderBottom, td.noBorderBottom {
 border-bottom: none !important;
}

tr.noBorderHorizontal td, tr.noBorderHorizontal th, th.noBorderHorizontal, td.noBorderHorizontal {
 border-top: none !important;
 border-bottom: none !important;
}

tr.noBorderVertical td, tr.noBorderVertical th, th.noBorderVertical, td.noBorderVertical {
 border-right: none !important;
 border-left: none !important;
}

tr.borderAll td, tr.borderAll th, th.borderAll, td.noBorderAll {
 border: none !important;
}


 
.cellDoubleUp {
 border: 0px solid black !important;
 width: 1em;
}


td.alignDecimalIntegerPart {
 text-align: right;
 border-right: none !important;
 padding-right: 0 !important;
 margin-right: 0 !important;
}

td.alignDecimalFractionPart {
 text-align: left;
 border-left: none !important;
 padding-left: 0 !important;
 margin-left: 0 !important;
}


  

 

.lgouter {
 margin-left: auto;
 margin-right: auto;
 display: table; 
}

.lg {
 text-align: left;
 padding: .5em 0% .5em 0%;
}

.lg h4, .lgouter h4 {
 font-weight: normal;
}

.lg .lineNum, .sp .lineNum, .lgouter .lineNum {
 color: #777;
 font-size: 90%;
 left: 16%;
 margin: 0;
 position: absolute;
 text-align: center;
 text-indent: 0;
 top: auto;
 width: 1.75em;
}

p.line, .par.line {
 margin: 0 0% 0 0%;
}

span.hemistich {
 
 color: white;
}

.versenum {
 font-weight: bold;
}

 

.speaker {
 font-weight: bold;
 margin-bottom: 0.4em;
}

.sp .line {
 margin: 0 10%;
 text-align: left;
}

.castlist, .castitem {
 list-style-type: none;
}

.castGroupTable {
 border-collapse: collapse;
}

.castGroupTable td {
 padding: 0;
 margin: 0;
 vertical-align: middle;
}

.castGroupBrace {
 padding: 0 0.5em !important;
}

  

table.alignedtext, table.alignedverse {
 border-collapse: collapse;
}

table.alignedtext td {
 vertical-align: top;
 width: 50%;
}

table.alignedverse {
 vertical-align: top;
}

table.alignedtext td.first, table.alignedverse td.first {
 border-width: 0 0.2px 0 0;
 border-color: gray;
 border-style: solid;
 padding-right: 10px;
}

table.alignedtext td.second, table.alignedverse td.second {
 padding-left: 10px;
}

table.alignedverse td.first, table.alignedverse td.second {
 width: 45%;
}

table.alignedverse td.lineNumbers {
 width: 10%;
}

  

.epub-media-overlay-active {
 background-color: yellow;
}

span.measure {
 border-bottom: none;
}
body {
 background: #FFFFFF;
 font-family: "Times New Roman", Times, serif;
}

body, a.hidden {
 color: black;
}

.titlePage {
 color: #001FA4;
 font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
 color: #001FA4;
 font-family: Verdana, Arial, Helvetica, sans-serif;
}

p.byline {
 font-style: italic;
 margin-bottom: 2em;
}

.figureHead, .noteref, .pseudonoteref, .marginnote, p.legend, .versenum,
 .stage {
 color: #001FA4;
}

.rightnote, .pagenum, .linenum, .pagenum a {
 color: #AAAAAA;
}

a.hidden:hover, a.noteref:hover {
 color: red;
}

p.dropcap:first-letter {
 color: #001FA4;
 font-weight: bold;
}

sub, sup {
 line-height: 0;
}
body
{
 padding: 1.58em 16%;
}

.indent-hang-small
{
 text-indent: -0.31em;
}

.indent-hang-medium
{
 text-indent: -0.44em;
}

.indent-hang-large
{
 text-indent: -0.76em;
}

        /* CSS rules generated from @rend attributes in TEI file */
        
.xd25e553
{
text-align:right;
}

.xd25e727
{
color:red; background-color:yellow;
}

.xd25e728
{
color:green; text-align:right;
}

.xd25e729
{
color:blue; text-align:right;
}

.xd25e765
{
text-align:left;width:40%; padding:4px;
}

.xd25e766
{
text-align:right;border-left:1px solid black; padding:4px;
}

.xd25e976
{
background-color:green;
}

.xd25e769
{
border-top:2px solid black;
}

.xd25e786
{
border-top:1px solid black;
}

.xd25e817
{
border-bottom:2px solid black;
}

.xd25e977
{
background-color:white;
}

.xd25e98
{
font-style:italic;
}

.xd25e108
{
background-color:yellow;
}

.xd25e143
{
font-family:'Walbaum-Fraktur';
}

.xd25e156
{
font-size:14pt; color:red; background-color:yellow;
}

.xd25e388
{
text-align:left;
}

.xd25e391
{
text-align:right;
}

.xd25e393
{
text-align:center;
}


.xd25e395
{
    background: url(images/initial-A.gif) no-repeat top left;
    
        padding-top: 45px;
    
}

.xd25e395init
{
    float: left;
    width: 90px;
    height: 95px;
    background: url(images/initial-A.gif) no-repeat;
    
        background-position: 0px -45px;
    
    text-align: right;
    color: white;
    font-size: 1px;
}

        
.xd25e399
{
text-align:justify;
}

.xd25e414
{
text-align:center;
}

.xd25e512
{
width:40%; margin:0px auto; display:table;
}

.xd25e518
{
text-align:right;
}

.xd25e695
{
margin:0px auto; display:table;
}

.xd25e699
{
vertical-align:middle; width:2px;
}

.xd25e700
{
vertical-align:middle;
}

.xd25e710
{
margin-left:2em;
}

.xd25e712
{
width:25%;
}

.xd25e714
{
width:75%;
}

.xd25e752
{
text-align:center;
}

.xd25e757
{
text-align:left;
}

.xd25e764
{
width:40%; border-collapse:collapse;
}

.xd25e831
{
margin:0px auto; display:table;
}

.xd25e902
{
margin:0px auto; display:table;
}

.xd25e972
{
margin:0px auto; display:table;
}

.xd25e1007
{
background-color:yellow;
}

.xd25e1025
{
background-color:blue;
}

.xd25e1034
{
background-color:orange;
}

.xd25e1044
{
background-color:red;
}

.xd25e1084width
{
    width:80px;
}
            
.xd25e1089
{
width:100px;
}

.xd25e1089width
{
    width:80px;
}
            
.xd25e1096width
{
    width:80px;
}
            
.xd25e1108width
{
    width:480px;
}
            
.xd25e1129width
{
    width:480px;
}
            
.xd25e1157
{
font-style:italic;
}

.xd25e1188
{
list-style-type:disc;
}

.xd25e1218
{
list-style-type:upper-roman;
}

.xd25e1230
{
list-style-type:lower-roman;
}

.xd25e1252
{
list-style-type:disc;
}

.xd25e1275
{
list-style-type:disc;
}

.xd25e1372
{
text-align:center;
}

.xd25e1377
{
text-indent:1em;
}

.xd25e1383
{
text-indent:2em;
}

.xd25e1387
{
text-indent:3em;
}

.xd25e1391
{
text-indent:10em;
}

.xd25e1393
{
font-style:italic;
}

.xd25e1476
{
font-style:italic;
}

.xd25e1487
{
display:none;
}

.xd25e1521
{
display:none;
}
@media handheld
{


.xd25e395
{
    background-image: none;
    padding-top: 0;
}

.xd25e395init
{
    float: none;
    width: auto;
    height: auto;
    background-image: none;
    text-align: right;
    color: inherit;
    font-size: inherit;
}

        
}
