name: Deploy Documentation

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Documentation
        run: mvn prepare-package

      - name: Create .nojekyll file
        run: touch target/Wiki/html/.nojekyll

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages  # The branch where the documentation will be stored
          folder: target/Wiki/html  # Path to the generated documentation
          clean: true  # Removes previous files in gh-pages before deployment
